<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
    {{message.text}}
    <div class="alert-close pull-right" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true" class="alert-close__button icon close-01"></span>
    </div>
    </div>