 @import "../assets/styles/mixin.styl"
 @import url("../assets/styles/icons.css")

.alert
    color $dd-text-lightest
    padding 5px 10px
    font-size 14px
    margin 0
    &-success
        background-color $alertSucess
    &-danger
        background-color $alertError
    &-close
        float right
        cursor pointer
        &__button:before
            color $dd-text-lightest
            font-size 0.8rem
            display flex
            margin 0 5px 0 0

