@import url("../assets/styles/icons.css")
@import "../assets/styles/mixin.styl"

.login
    position fixed
    right 20px
    top 20px
    background #ec3761
    padding 20px
    color $dd-text-lightest

.btsPulse
    &-login
        &__row
            height 100%

        &__container
            height 100vh
        
        &__headerCont
            top calc(50% - 80px)
            position relative
            text-align center

        &__headerTitle
            font-size $fs-55
            border-bottom-style solid
            border-bottom-width 1px   
            font-weight $fontLight

        &__headerLogo
           img
              height 40px
              margin 5px 0 0 0

        &__header
            color $dd-text-lightest

        &__details
            height 100%
            
          
        &__detailsCont
            top calc(50% - 90px)
            width 50%
            text-align center
            position relative

        &__title
            font-size $fs-27
            font-weight $fontLight

        &__button
            width 100%
            border-color transparent
            cursor pointer
            display flex
            justify-content center
            text-transform uppercase
            font-weight $fontSemibold
            margin-bottom 0
            &:hover
                background-color $dd-input-bg
                color $dd-text-dark
                border 1px solid $dd-text-dark
            i
                margin 0 5px 0 0

        &__usernameIcon
            align-items center
            float left
            background-color $dd-bg-dark
            padding 0 10px
            height 54px
            border-bottom-left-radius 0.25rem
            border-top-left-radius 0.25rem
            display flex
            i
                font-size 1.4rem
                color $dd-text-lightest

        &__passwordIcon
            align-items center
            float left
            background-color $dd-bg-dark
            padding 0 10px
            height 54px
            display flex
            border-bottom-left-radius 0.25rem
            border-top-left-radius 0.25rem
            i
                font-size 1.4rem
                color $dd-text-lightest

        &__inputWrapper
            overflow hidden
            margin 10px 0

        &__inputField
            float left
            width calc(100% - 45px)
            border-bottom-left-radius 0
            border-top-left-radius 0 
            height 54px
            font-size $fs-19
            font-weight $fontLight

        &__forgotPassword
            a
                text-decoration underline
                color $dd-text-dark
                cursor pointer
                font-size $fs-12 
        
    &-forgotPassword
       
        &__title
            border-bottom 1px solid $dd-text-dark
            font-size $fs-27
            font-weight $fontLight

        &__textCont
            padding 5px 0
            text-align left
            font-size $fs-12
            line-height $fs-18
       
         &__emailText
            padding 10px 0
        
        &__emailIcon
            float left
            background-color $dd-bg-dark
            padding 0 10px
            height 54px
            border-bottom-left-radius 0.25rem
            border-top-left-radius 0.25rem
            display flex
            align-items center
            i
                font-size 1.4rem
                color $dd-text-lightest

    &-email
        &__inputField
            float left
            width calc(100% - 45px)
            border-bottom-left-radius 0
            border-top-left-radius 0 
            height 54px

        &__cancelButton
            border none
            cursor pointer
            float left
            height 34px
            margin 10px 0
            display flex
            width 49%
            justify-content center
            font-size $fs-12
            text-transform uppercase
            font-weight $fontSemibold
            &:hover
                background-color $dd-input-bg
                color $dd-text-dark
                border 1px solid $dd-text-dark
            i
                margin 0 5px 0 0


        &__resetButton
            border none
            cursor pointer
            display flex
            float right
            height 34px
            margin 10px 0
            width 49%
            justify-content center
            font-size $fs-12
            text-transform uppercase
            font-weight $fontSemibold
            &:hover
                background-color $dd-input-bg
                color $dd-text-dark
                border 1px solid $dd-text-dark
            i
                margin 0 5px 0 0
                line-height 0.8
           


